<!--ITC 230 Nicole Brown home.html page for Urban Bee Resource Library app-->

<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Urban Bee Library</title>

   <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
   <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
   <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
   
<!--Start of UI Styles-->
<style type="text/css">
     .flex-container {
      display: -webkit-flex;
      display: flex;
      width: 600px;
      background-color: lemonchiffon;
  }
  
   #item-list {
      background-color: cornflowerblue;
      width: 30%;
      padding: 0px 10px 0px 0px;
  }
  
   #item-details {
      background-color: gainsboro;
      width: 75%;
      padding: 10px;
  }
    
</style>
</head> 
<body>
    <h1>Urban Bee Library</h1>
    
<div id="root"/>
<script type="text/babel">
const Title = ({title}) => {
      // simple component w/ single property
      return <div><h2>{title}</h2></div>;
    }
    
    const ItemList = ({items, filter, show}) => {
      // generate array of item nodes
      const itemNodes = items.map((item) => {
          return <li id={item._id} key={item._id} onClick={show}>{item.title}</li>
      });
      return <ul>{itemNodes}</ul>;
    }

class MyApp extends React.Component {  
  constructor(props) {  
    super(props);  
    this.state = {
       items: {{{books}}},
       currentItem:{}//current selected item
    };
    
   // bind App context to functions used by child components
    // this.onSearchChange = this.onSearchChange.bind(this);
    // this.onChange = this.onChange.bind(this);
    // this.onSave = this.onSave.bind(this);
    // this.onDelete = this.onDelete.bind(this);
    // this.onClear = this.onClear.bind(this);
   
  } // end constructor
  

            
  render() { 
    return (
      <div>
      <Title title ="Book list"/>
      <div className="flex-container">
      <ItemList items={this.state.items} />
      </div>
      </div>
       ); 
  } //end render
} //end MyApp class

    

ReactDOM.render(  <MyApp />,  document.getElementById('root') );

</script>

</body>
</html>